
:host {
    height: calc(100vh - 8rem);
}
.container {
    height: inherit;
    display: flex;
    flex-direction: column;
}
mat-drawer {
    width : 20%
}
::ng-deep .mat-calendar-header {
    // height: 80px; /* Adjust the height as desired */
    font-size: 2px; /* Optional: Adjust the font size */

  }