
:host {
    height: calc(100vh - 8rem);
}
.container {
    height: inherit;
    display: flex;
    flex-direction: column;
}
mat-drawer-content {
    overflow-y: auto;
    overflow-x: hidden;
}
mat-drawer {
    width : 20%
}
.selected {
    background-color: #2196f3;
    /* Blue background for selected range */
    color: white;
    /* Adjust text color if needed */
}
.hour-slot {
    font-size: small;
}
.hour-slot::before {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    position: relative;
    top: 12px;
    left: 45px;
    background: #dde3ea;
}
.minute-slot {
    visibility: hidden;
    max-height: 2px;
}