<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <mat-calendar
      #calendar
      [(selected)]="selected"
      (selectedChange)="onDateChange($event)"
    />
  </mat-drawer>
  <mat-drawer-content>
    <div class="time-slot-container">
      <div class="time-slot-header">
        <span>test</span>
      </div>
      <div class="time-slot">
        <div class="hour-slot">
          @for(hour of hourSlots;track hour) {
          <div
            class="hour"
          >
            {{ hour }}
          </div>
          }
        </div>
        <div class="minute-slot">
          @for(hour of hourSlots; track hour;let hourIndex = $index) {
          <div class="hour-time">
            @for(minute of minuteSlots;track minute; let minuteIndex = $index) {
            <div
              [ngClass]="{'test': isSlotLogged(hour, minute)}"
              class="minute"
              (mousedown)="startSelection(hour , minute)" (mouseup)="endSelection(hour , minute)" (mousemove)="onMouseMove(hour, minute)"
            >
              <!-- {{ hour + "-" + minute }} -->
            </div>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
